.reservation-card
.card-header
.btn {
    padding: 4px 15px 4px;
}

.reservation-card {
    margin-top:10px;

}

.reservation-card
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#resCardFooter {
    border: none;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    padding-bottom: 10px;
    text-align: right;
}

#statusBadge {
    background-color: #0cd208e3;
    padding: 15px 20px 15px;
    padding-right: 15px;
    margin-top: 7.5px;
    text-transform: normal;
    letter-spacing: 1px
}